<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails スケジュール管理アプリ</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="header-logo">
        <h1>Ruby on Rails スケジュール管理アプリ</h1>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
    
    <footer>
      <div class="footer-time">
        <p>現在の日時 :<%= Date.today.strftime('%Y年%m月%d日') %></p>
        </div>
        <div class="footer-count">
          <p>スケジュール合計 :　<%= @post_count %></p>
          </div>
      </footer>
  </body>
</html>